# this file is used to tell prettier which files/folders to ignore when formatting code.

*.env
.env

.env.*.

/.vscode
.idea
.DS_Store
dist
build
coverage
logs
*.log
./dist
./build
./coverage
./logs
/node_modules